.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
	align-items: center
}

.left-nav {

  > ul {
    > li {
			margin-left: 20px;
			cursor: pointer;
			text-transform: uppercase;
			font-family: $sans-serif;
			font-weight: bold;
			font-size: 11px;
			padding: 7px 9px;
			transition: background-color 0.3s
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      margin-left: 5px;
			cursor: pointer;
    }

    > li:last-of-type {
      position: relative;
			transition: background-color 0.3s
    }
  }
  
  i {
    font-size: 16px
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
